

/******************正文部分*****************/
.site-content{
	
	}
.entry-header{
	padding:200px 0;
	background:#48C6D5;
	}
.error404 .entry-header{
	background:url("../../../images/frontend/app/404.png") no-repeat bottom center #48C6D5;
	}
.entry-title{
	text-align:center;
	font-size:3em;
	color:#fff;
	}

.entry-date{
	text-align:center;
	font-size:0.7em;
	color:#666;
	padding:1em 0;
	background:#eee;
	}
.entry-content{	
	width:70%;
	max-width:970px;
	margin:auto;
	}
.entry-content p{
	font-size:1em;
	line-height:1.5em;
	}
.entry-content img{
	display:block;
	margin:20px auto;
	}
.entry-content a{
	color:#48C6D5;
	}
.entry-content a:hover{
	color:#333;
	}

.entry-tags{
	text-align:center;
	}
.entry-tags>li{
	display:inline;
	
	}
.entry-tags>li>a{
	display:inline-block;
	padding:0 20px 0 30px;
	height:50px;
	line-height:50px;
	background: url("../../../images/frontend/app/icon20_tag.png") no-repeat 10px center #D1A631;
	margin:0 10px;
	color:#fff;
	text-decoration:none;
	}
.entry-tags>li>a:hover{
	color:#333;
	}
.nav-single{
	height:200px;
	position:relative;
	}
.nav-single > .assistive-text{
	display:none;
	}
.nav-single a{
	text-decoration:none;
	color:#fff;
	}
.nav-single a:hover{
	color:#333;
	}
.nav-single > .nav-previous{
	line-height:40px;
	height:40px;
	padding:0 10px;
	position:absolute;
	top:80px;
	left:0;
	background:#48c6d5;
	font-size:14px;
	}
.nav-single > .nav-previous:after{
	content:"";
	width:12px;
	height:40px;
	background:url("../../../images/frontend/app/blue_flag_tail_right.png") no-repeat;
	position:absolute;
	top:0;
	right:-12px;
	}
.nav-single > .nav-next{
	line-height:40px;
	height:40px;
	padding:0 10px;
	position:absolute;
	top:80px;
	right:0;
	background:#48c6d5;
	font-size:14px;
	}
.nav-single > .nav-next:after{
	content:"";
	width:12px;
	height:40px;
	background:url("../../../images/frontend/app/blue_flag_tail_left.png") no-repeat;
	position:absolute;
	top:0;
	left:-12px;
}
