body{
    margin:0;
    padding:0;
    font-family:"微软雅黑", verdana;
}
ul{
    margin:0;
    padding:0;
}
li{
    list-style:none;
}
/****************** 页头部分 header *****************/
.hnid_header_bg{
    width: 100%;
    height: 130px;
    background: url(../../../images/frontend/app/header_bg.jpg) no-repeat;
    background-size: 100% 100%;
}
.hnid_header{
    position:fixed;
    width: 100%;
    height:100px;
    top:30px;
    box-shadow:0 0 4px rgba(0,0,0,0.4);
    background:#fff;
    z-index:9999;
}
.hnid_header:before{
    content:"";
    width:100%;
    height:30px;
    background:rgba(0,0,0,0.7);
    position:absolute;
    top:-30px;
    left:0;
}
.hnid_header>.hnid_logo{
    position: absolute;
    top:-20px;;
    left:3%;
    margin: 0;
}
.hnid_header>.hnid_logo a{
    display: block;
    width:300px;
    height: 140px;
    background: url("../../../images/frontend/app/logo.png") no-repeat;
    font-size: 0;
    text-indent:-9999px;

}
.hnid_header>.hnid_top_nav{
    position: absolute;
    top:0;
    right:100px;
    width:50%;
}
.hnid_header>.hnid_top_nav ul{
    margin:0;
    padding:0;
    font-size:0;
    white-space:nowrap;
}
.hnid_header>.hnid_top_nav ul li{
    display:inline-block;
    width:16.6%;
}
.hnid_header>.hnid_top_nav ul li a{
    width:100%;
    height:100px;
    display: inline-block;
    margin:0;
    padding-top:60px;
    text-align: center;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    text-decoration:none;
    color:#333;
    font-size:14px;
    border-bottom:#fff 4px solid;
}
.hnid_header>.hnid_top_nav ul li a:hover{
    border-bottom:#48C6D5 8px solid;
    color:#48C6D5;
}
.hnid_header>.hnid_top_nav .hnid_nav_news{
    background: url("../../../images/frontend/app/icon30_news.png") no-repeat center 20px;
}
.hnid_header>.hnid_top_nav .hnid_nav_innovation{
    background: url("../../../images/frontend/app/icon30_innovation.png") no-repeat center 20px;
}
.hnid_header>.hnid_top_nav .hnid_nav_resource{
    background: url("../../../images/frontend/app/icon30_designer.png") no-repeat center 20px;
}
.hnid_header>.hnid_top_nav .hnid_nav_organization{
    background: url("../../../images/frontend/app/icon30_organization.png") no-repeat center 20px;
}
.hnid_header>.hnid_top_nav .hnid_nav_lotusprize{
    background: url("../../../images/frontend/app/icon30_lotusprize.png") no-repeat center 20px;
}
.hnid_header>.hnid_top_nav .hnid_nav_product{
    background: url("../../../images/frontend/app/icon30_product.png") no-repeat center 20px;
}
.hnid_header>.hnid_top_nav .hnid_nav_cidic{
    background: url("../../../images/frontend/app/icon30_cidic.png") no-repeat center 20px;
}

.hnid_header>.hnid_expand_menu_btn{
    text-decoration:none;
    color:#333;
    text-align:center;
    font-size:14px;
    padding-top:60px;
    display:block;
    width:100px;
    height:100px;
    border-left:#ccc 1px dotted;
    background: url("../../../images/frontend/app/icon20_menu.png") #fff no-repeat center 26px;

    position:absolute;
    right:0;
    top:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
}
.hnid_header>.hnid_sub_nav{
    position:absolute;
    top:100px;
    right:0;
    z-index:-1;
    overflow:hidden;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    height:0;
    width:40%;
    /*transition:height 0.5s ease-out;*/
}
.hnid_header>.hnid_sub_nav ul{
    box-shadow:0 0 4px rgba(0,0,0,0.4);
    margin:0 0 4px 4px;
    background:#fff;
}
.hnid_header>.hnid_sub_nav ul li{
    height:70px;
    width:100%;
    border-top:#ccc 1px solid;
}
.hnid_header>.hnid_sub_nav ul li>a{
    display:block;
    width:100%;
    height:70px;
    padding:25px 40px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    font-size:14px;
    line-height:20px;
    text-decoration:none;
    color:#666;
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
}
.hnid_header>.hnid_sub_nav ul li>a:hover{
    background:#eee;
}
.hnid_header>.hnid_sub_nav .hnid_search_form .screen-reader-text{
    display:none;
}
.hnid_header>.hnid_sub_nav .hnid_search_submit{display:none;}
.hnid_header>.hnid_sub_nav .hnid_search_form input{
    width:100%;
    height:70px;
    padding:25px 20% 25px 40px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    border:none;
    font-size:14px;
    line-height:20px;
    color:#666;
    font-family:"微软雅黑", verdana;
    background: url("../../../images/frontend/app/icon30_search.png") no-repeat 90% center;
}

/****************** 页脚 *****************/
.hnid_footer{
    padding:120px 0;
    background:#333;
}
.hnid_footer .hnid_copyright{
    text-align:center;
    width:50%;
    margin:auto;
    color:#666;
    font-size:1em;
}