/******************正文部分*****************/
.site-content{
	
	}
.page-header{
	padding:200px 0 40px 0;
	background:#48C6D5;
	}
.page-title{
	text-align:center;
	font-size:3em;
	color:#fff;
	position:relative;
	}
/*.page-title:before{
	content:"";
	position:relative;
	width:15px;
	height:60px;
	background:url("../../images/xavier/brace_left_white_m.png");
	left:-20px;
	top:10px;
	display:inline-block;
	}
.page-title:after{
	content:"";
	position:relative;
	width:15px;
	height:60px;
	background:url("../../images/xavier/brace_right_white_m.png");
	right:-20px;
	top:10px;	
	display:inline-block;
	}*/
.post-list{
	width:80%;
	min-width:720px;
	margin:auto;
	}
.post-list li{
	position:relative;
	border-bottom:#ccc 1px dotted;
	padding:10px;
	overflow:hidden;
	}
.post_thumb{
	width:300px;
	}
.post_thumb>img{
	width:100%;
	}
.post_abstract{
	position:absolute;
	left:350px;
	top:10px;
	}
.post_abstract h3{
	margin:0;
	}
.post_abstract h3 a{
	text-decoration:none;
	color:#48C6D5;
	font-size:1.5em;
	}
.post_abstract p{
	font-size:1em;
	line-height:1.5em;
	}	
.post-list li .hnid_btn_more{
	width:170px;
	height:40px;
	font-size:14px;
	background:url(../../../images/frontend/app/more_bg_blue.png) no-repeat;
	position:absolute;
	right:0;
	bottom:10px;
	line-height:40px;
	padding:0 30px;
	text-decoration:none;
	color:#fff;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	}
.post-list li .hnid_btn_more:hover{
	color:#333;
	}
.post-list .post_abstract>.entry-tags{
	
	}
.post-list .post_abstract>.entry-tags>li{
	display:inline;
	border:none;
	padding:0;
	}
.post-list .post_abstract>.entry-tags>li>a {
	display: inline-block;
	padding: 0 20px 0 30px;
	height: 40px;
	line-height: 40px;
	background: url("../../../images/frontend/app/icon20_tag.png") no-repeat 10px center #D1A631;
	margin-right:10px;
	color: #fff;
	text-decoration: none;
	font-size:14px;
}
.post-list .post_abstract>.entry-tags>li>a:hover{
	color:#333;
	}
.post-list .post_abstract>.entry-date{
	margin:10px 0;
	font-size:14px;
	color: #666;
	font-style: italic;
	background:url("../../../images/frontend/app/icon_date_gray.png") no-repeat 0 center;
	padding-left:25px;
	}
.hnid_pagination{
	padding:50px 0;
	}	
ul.page-numbers{
	text-align:center;
	}
ul.page-numbers li{
	display:inline;
	}
ul.page-numbers li span, ul.page-numbers li a{
	text-decoration:none;
	padding:0 20px;
	height:50px;
	line-height:50px;
	color:#fff;
	background:#48c6d5;
	display:inline-block;
	}
ul.page-numbers li a:hover{
	background:#333;
	}
ul.page-numbers li .current{
	background:#D1A631;
	}

