body{
	margin:0;
	padding:0;
	font-family:"微软雅黑", verdana;
	}
ul{
	margin:0;
	padding:0;
	}
li{
	list-style:none;
	}

/******************通用元素*****************/
.hnid_hidden{
	display:none;
	}
	
.hnid_btn_prev{
	width:80px;
	height:80px;
	background:url(../../images/xavier/btn80_prev.png) no-repeat;
	font-size:0;
	text-indent:-9999px;
	position:absolute;
	top:50%;
	left:10px;
	opacity:0;
	transition:all 0.4s ease-out;
	}
.hnid_btn_next{
	width:80px;
	height:80px;
	background:url(../../images/xavier/btn80_next.png) no-repeat;
	font-size:0;
	text-indent:-9999px;
	position:absolute;
	top:50%;
	right:10px;
	opacity:0;
	transition:all 0.4s ease-out;
	}
.hnid_column_50{
	width:50%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	display:inline-block;
	}

/****************** 页头部分 header *****************/
.hnid_header{
	position:fixed;
	width: 100%;
	height:100px;
	top:30px;
	box-shadow:0 0 4px rgba(0,0,0,0.4);
	background:#fff;
	z-index:9999;
}
.hnid_header:before{
	content:"";
	width:100%;
	height:30px;
	background:rgba(0,0,0,0.7);
	position:absolute;
	top:-30px;
	left:0;
	}
.hnid_header>.hnid_logo{
    position: absolute;
    top:-20px;;
    left:3%;	
    margin: 0;
}
.hnid_header>.hnid_logo a{
    display: block;
    width:300px;
    height: 140px;
    background: url("../../images/xavier/logo.png") no-repeat;
    font-size: 0;
    text-indent:-9999px;

}
.hnid_header>.hnid_top_nav{
    position: absolute;
    top:0;
    right:100px;
	width:50%;
}
.hnid_header>.hnid_top_nav ul{
    margin:0;
	padding:0;
	font-size:0;
	white-space:nowrap;
}
.hnid_header>.hnid_top_nav ul li{
	display:inline-block;
	width:20%;
	}
.hnid_header>.hnid_top_nav ul li a{
    width:100%;
    height:100px;
    display: inline-block;
    margin:0;
	padding-top:60px;
    text-align: center;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	text-decoration:none;
	color:#333;
	font-size:14px;
	border-bottom:#fff 4px solid;
}
.hnid_header>.hnid_top_nav ul li a:hover{
	border-bottom:#48C6D5 8px solid;
	color:#48C6D5;
	}
.hnid_nav_news{
    background: url("../../images/xavier/icon30_news.png") no-repeat center 20px;
}
.hnid_nav_innovation{
    background: url("../../images/xavier/icon30_innovation.png") no-repeat center 20px;
}
.hnid_nav_resource{
    background: url("../../images/xavier/icon30_designer.png") no-repeat center 20px;
}
.hnid_nav_organization{
    background: url("../../images/xavier/icon30_organization.png") no-repeat center 20px;
}
.hnid_nav_lotusprize{
    background: url("../../images/xavier/icon30_lotusprize.png") no-repeat center 20px;
}
.hnid_nav_cidic{
    background: url("../../images/xavier/icon30_cidic.png") no-repeat center 20px;
}

.hnid_expand_menu_btn{
	text-decoration:none;
	color:#333;
	text-align:center;
	font-size:14px;
	padding-top:60px;
	display:block;
	width:100px;
	height:100px;
	border-left:#ccc 1px dotted;
	background: url("../../images/xavier/icon20_menu.png") #fff no-repeat center 26px;

	position:absolute;
	right:0;
	top:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	}
.hnid_sub_nav{
	position:absolute;
	top:100px;
	right:0;
	z-index:-1;
	overflow:hidden;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	height:0;
	width:40%;
	/*transition:height 0.5s ease-out;*/
	}
.hnid_sub_nav ul{
	box-shadow:0 0 4px rgba(0,0,0,0.4);	
	margin:0 0 4px 4px;	
	background:#fff;
	}
.hnid_sub_nav ul li{
	height:70px;
	width:100%;
	border-top:#ccc 1px solid;
	}
.hnid_sub_nav ul li>a{
	display:block;
	width:100%;
	height:70px;
	padding:25px 40px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;	
	font-size:14px;
	line-height:20px;
	text-decoration:none;
	color:#666;
	white-space:nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
	}
.hnid_sub_nav ul li>a:hover{
	background:#eee;
	}
#searchform .screen-reader-text{
	display:none;
	}
#searchsubmit{display:none;}
#searchform input{
	width:100%;
	height:70px;
	padding:25px 20% 25px 40px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	border:none;
	font-size:14px;
	line-height:20px;
	color:#666;
	font-family:"微软雅黑", verdana;
	background: url("../../images/xavier/icon30_search.png") no-repeat 90% center;	
	}


/******************正文部分*****************/
.site-content{
	
	}
.entry-header{
	padding:200px 0;
	background:#48C6D5;
	}
.error404 .entry-header{
	background:url("../../images/xavier/404.png") no-repeat bottom center #48C6D5;
	}
.entry-title{
	text-align:center;
	font-size:3em;
	color:#fff;
	}

.entry-date{
	text-align:center;
	font-size:0.7em;
	color:#666;
	padding:1em 0;
	background:#eee;
	}
.entry-content{	
	width:70%;
	max-width:970px;
	margin:auto;
	}
.entry-content p{
	font-size:1em;
	line-height:1.5em;
	}
.entry-content img{
	display:block;
	margin:20px auto;
	}
.entry-content a{
	color:#48C6D5;
	}
.entry-content a:hover{
	color:#333;
	}

.entry-tags{
	text-align:center;
	}
.entry-tags>li{
	display:inline;
	
	}
.entry-tags>li>a{
	display:inline-block;
	padding:0 20px 0 30px;
	height:50px;
	line-height:50px;
	background: url("../../images/xavier/icon20_tag.png") no-repeat 10px center #D1A631;
	margin:0 10px;
	color:#fff;
	text-decoration:none;
	}
.entry-tags>li>a:hover{
	color:#333;
	}
.nav-single{
	height:200px;
	position:relative;
	}
.nav-single > .assistive-text{
	display:none;
	}
.nav-single a{
	text-decoration:none;
	color:#fff;
	}
.nav-single a:hover{
	color:#333;
	}
.nav-single > .nav-previous{
	line-height:40px;
	height:40px;
	padding:0 10px;
	position:absolute;
	top:80px;
	left:0;
	background:#48c6d5;
	font-size:14px;
	}
.nav-single > .nav-previous:after{
	content:"";
	width:12px;
	height:40px;
	background:url("../../images/xavier/blue_flag_tail_right.png") no-repeat;
	position:absolute;
	top:0;
	right:-12px;
	}
.nav-single > .nav-next{
	line-height:40px;
	height:40px;
	padding:0 10px;
	position:absolute;
	top:80px;
	right:0;
	background:#48c6d5;
	font-size:14px;
	}
.nav-single > .nav-next:after{
	content:"";
	width:12px;
	height:40px;
	background:url("../../images/xavier/blue_flag_tail_left.png") no-repeat;
	position:absolute;
	top:0;
	left:-12px;
	}

/****************** 页脚 *****************/	
.hnid_footer{
	padding:120px 0;
	background:#333;
	}
.hnid_copyright{
	text-align:center;
	width:50%;
	margin:auto;
	color:#666;
	font-size:1em;
	}