body{
	margin:0;
	padding:0;
	font-family:"微软雅黑", verdana;
	}
ul{
	margin:0;
	padding:0;
	}
li{
	list-style:none;
	}

/******************通用元素*****************/
.hnid_hidden{
	display:none;
	}
	
.hnid_btn_prev{
	width:80px;
	height:80px;
	background:url(../../images/xavier/btn80_prev.png) no-repeat;
	font-size:0;
	text-indent:-9999px;
	position:absolute;
	top:50%;
	left:10px;
	opacity:0;
	transition:all 0.4s ease-out;
	}
.hnid_btn_next{
	width:80px;
	height:80px;
	background:url(../../images/xavier/btn80_next.png) no-repeat;
	font-size:0;
	text-indent:-9999px;
	position:absolute;
	top:50%;
	right:10px;
	opacity:0;
	transition:all 0.4s ease-out;
	}
.hnid_column_50{
	width:50%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	display:inline-block;
	}

/****************** 页头部分 header *****************/
.hnid_header{
	position:fixed;
	width: 100%;
	height:100px;
	top:30px;
	box-shadow:0 0 4px rgba(0,0,0,0.4);
	background:#fff;
	z-index:9999;
}
.hnid_header:before{
	content:"";
	width:100%;
	height:30px;
	background:rgba(0,0,0,0.7);
	position:absolute;
	top:-30px;
	left:0;
	}
.hnid_header>.hnid_logo{
    position: absolute;
    top:-20px;;
    left:3%;	
    margin: 0;
}
.hnid_header>.hnid_logo a{
    display: block;
    width:300px;
    height: 140px;
    background: url("../../images/xavier/logo.png") no-repeat;
    font-size: 0;
    text-indent:-9999px;

}
.hnid_header>.hnid_top_nav{
    position: absolute;
    top:0;
    right:100px;
	width:50%;
}
.hnid_header>.hnid_top_nav ul{
    margin:0;
	padding:0;
	font-size:0;
	white-space:nowrap;
}
.hnid_header>.hnid_top_nav ul li{
	display:inline-block;
	width:20%;
	}
.hnid_header>.hnid_top_nav ul li a{
    width:100%;
    height:100px;
    display: inline-block;
    margin:0;
	padding-top:60px;
    text-align: center;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	text-decoration:none;
	color:#333;
	font-size:14px;
	border-bottom:#fff 4px solid;
}
.hnid_header>.hnid_top_nav ul li a:hover{
	border-bottom:#48C6D5 8px solid;
	color:#48C6D5;
	}
.hnid_nav_news{
    background: url("../../images/xavier/icon30_news.png") no-repeat center 20px;
}
.hnid_nav_innovation{
    background: url("../../images/xavier/icon30_innovation.png") no-repeat center 20px;
}
.hnid_nav_resource{
    background: url("../../images/xavier/icon30_designer.png") no-repeat center 20px;
}
.hnid_nav_organization{
    background: url("../../images/xavier/icon30_organization.png") no-repeat center 20px;
}
.hnid_nav_lotusprize{
    background: url("../../images/xavier/icon30_lotusprize.png") no-repeat center 20px;
}
.hnid_nav_cidic{
    background: url("../../images/xavier/icon30_cidic.png") no-repeat center 20px;
}

.hnid_expand_menu_btn{
	text-decoration:none;
	color:#333;
	text-align:center;
	font-size:14px;
	padding-top:60px;
	display:block;
	width:100px;
	height:100px;
	border-left:#ccc 1px dotted;
	background: url("../../images/xavier/icon20_menu.png") #fff no-repeat center 26px;

	position:absolute;
	right:0;
	top:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	}
.hnid_sub_nav{
	position:absolute;
	top:100px;
	right:0;
	z-index:-1;
	overflow:hidden;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	height:0;
	width:40%;
	/*transition:height 0.5s ease-out;*/
	}
.hnid_sub_nav ul{
	box-shadow:0 0 4px rgba(0,0,0,0.4);	
	margin:0 0 4px 4px;	
	background:#fff;
	}
.hnid_sub_nav ul li{
	height:70px;
	width:100%;
	border-top:#ccc 1px solid;
	}
.hnid_sub_nav ul li>a{
	display:block;
	width:100%;
	height:70px;
	padding:25px 40px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;	
	font-size:14px;
	line-height:20px;
	text-decoration:none;
	color:#666;
	white-space:nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
	}
.hnid_sub_nav ul li>a:hover{
	background:#eee;
	}
#searchform .screen-reader-text{
	display:none;
	}
#searchsubmit{display:none;}
#searchform input{
	width:100%;
	height:70px;
	padding:25px 20% 25px 40px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	border:none;
	font-size:14px;
	line-height:20px;
	color:#666;
	font-family:"微软雅黑", verdana;
	background: url("../../images/xavier/icon30_search.png") no-repeat 90% center;	
	}


/******************正文部分*****************/
.site-content{
	
	}
.archive-header{
	padding:200px 0 40px 0;
	background:#48C6D5;
	}
.archive-title{
	text-align:center;
	font-size:3em;
	color:#fff;
	position:relative;
	}
.archive-title:before{
	content:"";
	position:relative;
	width:15px;
	height:60px;
	background:url("../../images/xavier/brace_left_white_m.png");
	left:-20px;
	top:10px;
	display:inline-block;
	}
.archive-title:after{
	content:"";
	position:relative;
	width:15px;
	height:60px;
	background:url("../../images/xavier/brace_right_white_m.png");
	right:-20px;
	top:10px;	
	display:inline-block;
	}
.post-list{
	width:80%;
	min-width:720px;
	margin:auto;
	}
.post-list li{
	position:relative;
	border-bottom:#ccc 1px dotted;
	padding:10px;
	overflow:hidden;
	}
.post_thumb{
	width:300px;
	}
.post_thumb>img{
	width:100%;
	}
.post_abstract{
	position:absolute;
	left:350px;
	top:10px;
	}
.post_abstract h3{
	margin:0;
	}
.post_abstract h3 a{
	text-decoration:none;
	color:#48C6D5;
	font-size:1.5em;
	}
.post_abstract p{
	font-size:1em;
	line-height:1.5em;
	}	
.post-list li .hnid_btn_more{
	width:170px;
	height:40px;
	font-size:14px;
	background:url(../../images/xavier/more_bg_blue.png) no-repeat;
	position:absolute;
	right:0;
	bottom:10px;
	line-height:40px;
	padding:0 30px;
	text-decoration:none;
	color:#fff;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	}
.post-list li .hnid_btn_more:hover{
	color:#333;
	}
.post-list .post_abstract>.entry-tags{
	
	}
.post-list .post_abstract>.entry-tags>li{
	display:inline;
	border:none;
	padding:0;
	}
.post-list .post_abstract>.entry-tags>li>a {
	display: inline-block;
	padding: 0 20px 0 30px;
	height: 40px;
	line-height: 40px;
	background: url("../../images/xavier/icon20_tag.png") no-repeat 10px center #D1A631;
	margin-right:10px;
	color: #fff;
	text-decoration: none;
	font-size:14px;
}
.post-list .post_abstract>.entry-tags>li>a:hover{
	color:#333;
	}
.post-list .post_abstract>.entry-date{
	margin:10px 0;
	font-size:14px;
	color: #666;
	font-style: italic;
	background:url("../../images/xavier/icon_date_gray.png") no-repeat 0 center;
	padding-left:25px;
	}
.hnid_pagination{
	padding:50px 0;
	}	
ul.page-numbers{
	text-align:center;
	}
ul.page-numbers li{
	display:inline;
	}
ul.page-numbers li span, ul.page-numbers li a{
	text-decoration:none;
	padding:0 20px;
	height:50px;
	line-height:50px;
	color:#fff;
	background:#48c6d5;
	display:inline-block;
	}
ul.page-numbers li a:hover{
	background:#333;
	}
ul.page-numbers li .current{
	background:#D1A631;
	}

/****************** 页脚 *****************/	
.hnid_footer{
	padding:120px 0;
	background:#333;
	}
.hnid_copyright{
	text-align:center;
	width:50%;
	margin:auto;
	color:#666;
	font-size:1em;
	}